/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/*===== FONT AND TYPOGRAPHY =====*/
:root {
  --body-font: "Poppins", sans-serif;
}

/*===== COLORS =====*/
:root {
  --background: #fcf7ff;
  --first-color: #0000c6;
  --second-color: #1d1a27;
}

/*===== BASE =====*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  background-color: var(--background);
}
img {
  width: 100%;
  object-fit: contain;
}
